<nav class="bottom-nav">

    <NavLink href="/Settings" class="nav-item" Match="NavLinkMatch.All">
        <img src="images/home.png" />
        <span>الإعدادات</span>
    </NavLink>

    <NavLink href="/Semesters" class="nav-item">
        <img src="images/clendar.png" />
        <span>السيمسترات</span>
    </NavLink>

    <NavLink href="/Students" class="nav-item">
        <img src="images/lucture.png" />
        <span>الطلاب</span>
    </NavLink>

    <NavLink href="/Statistics" class="nav-item">
        <img src="images/statistics.png" />
        <span>الإحصائيات</span>
    </NavLink>

    <NavLink href="/Archive" class="nav-item">
        <img src="images/archived.png" />
        <span>الأرشيف</span>
    </NavLink>

</nav>
