<nav class="bottom-nav">

    <NavLink href="/Settings" class="nav-item" Match="NavLinkMatch.All">
        <img src="images/home.png" />
    </NavLink>

    <NavLink href="/Semester" class="nav-item">
        <img src="images/calendar.png" />
    </NavLink>

    <NavLink href="/Students" class="nav-item">
        <img src="images/lucture.png" />
    </NavLink>

    <NavLink href="/Statistics" class="nav-item">
        <img src="images/statistics.png" />
    </NavLink>

    <NavLink href="/Archive" class="nav-item">
        <img src="images/archived.png" />
    </NavLink>

</nav>
