<nav class="bottom-nav">

    <NavLink href="/Archive" class="nav-item">
        <i class="fa-solid fa-box-archive"></i>
        <span>الأرشيف</span>
    </NavLink>

    <NavLink href="/Statistics" class="nav-item">
        <i class="fa-solid fa-chart-column"></i>
        <span>الإحصائيات</span>
    </NavLink>

    <NavLink href="/Students" class="nav-item">
        <i class="fa-solid fa-user-graduate"></i>
        <span>الطلاب</span>
    </NavLink>

    <NavLink href="/Semesters" class="nav-item">
        <i class="fa-solid fa-calendar-days"></i>
        <span>المصروفات</span>
    </NavLink>

    <NavLink href="/Settings" class="nav-item">
        <i class="fa-solid fa-gear"></i>
        <span>الإعدادات</span>
    </NavLink>

</nav>
