@page "/"
@layout MainLayout
@inject SmartGrades.Services.DataServices DataServices

<div class="home-simple">

    <!-- أيقونة -->
    <div class="home-icon">
        <svg viewBox="0 0 24 24">
            <path d="M12 3L1 9l11 6 9-4.91V17h2V9L12 3z" />
        </svg>
    </div>

    <!-- العنوان -->
    <h1 class="home-title-main">
        الجبل العالي
    </h1>

    <div class="home-line"></div>

    <!-- الترحيب -->
    <h2 class="home-welcome">
        مرحباً: @AdminName
    </h2>

  

    <hr class="home-divider" />

    <p class="home-hint">
        النظام متاح للاستخدام، يرجى اختيار الخدمة المطلوبة من القائمة الجانبية.
    </p>

    <!-- الحقوق -->
    <footer class="home-footer">
        © 2026 معهد الجبل العالي – جميع الحقوق محفوظة
    </footer>

</div>

@code {
    string AdminName = "—";

    protected override async Task OnInitializedAsync()
    {
       
       
    }
}
