@page "/Home"
@layout MainLayout

@inject SmartGrades.Services.DataServices DataServices

<div class="home-page">
    <div class="home-hero animate-hero">

        <h1 class="home-title">
            مرحبا أستاذ @DataServices.CurrentTeacher?.FullName
        </h1>

        <h1 class="home-title">
            الجبل العالي
        </h1>

    </div>
</div>
