html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Safe Area */
:root {
    --bottom-nav-height: 72px;
    --safe-top: env(safe-area-inset-top);
    --safe-bottom: env(safe-area-inset-bottom);
}
.page-content {
    padding-bottom: calc(var(--bottom-nav-height) + var(--safe-bottom));
}


.page,
.semesters-page,
.settings-page,
.home-page {
    padding-top: var(--safe-top);
    
}


/* —Ê«»ÿ Ê√“—«— */
a, .btn-link {
    color: #006bb7;
}

/* „Õ ÊÏ */
.content {
    padding-top: 1.1rem;
}

/* Validation */
.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}

/* ================= Blazor Error ================= */
#blazor-error-ui {
    display: none;
}

/* ================= Safe Area iOS ================= */
.status-bar-safe-area {
    display: none;
}

@supports (-webkit-touch-callout: none) {
    .status-bar-safe-area {
        display: flex;
        position: sticky;
        top: 0;
        height: env(safe-area-inset-top);
        background-color: #f7f7f7;
        width: 100%;
        z-index: 1;
    }
}

/* ================= Loader ================= */

/* «·Õ«ÊÌ… (‘›«›… »«·ﬂ«„·) */
.app-loading {
    position: fixed;
    inset: 0;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loading-text {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: 'Segoe UI', 'Cairo', sans-serif;
    text-align: center;
    background: linear-gradient(90deg, #1e3a8a, #2563eb, #38bdf8, #1e3a8a);
    background-size: 200% auto;
    -webkit-background-clip: text; /* ?? Â–« ÂÊ «·„› «Õ */
    background-clip: text; /* ?? «Õ Ì«ÿ */
    -webkit-text-fill-color: transparent;
    animation: textFade 2s ease-in-out infinite;
}

/* Õ—ﬂ… Œ›Ì›… Ãœ« */
@keyframes textFade {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}
